h1,
h2,
p,
ul {
  margin: 0;
}

button {
  margin: 10px;
  cursor: pointer;
}
.root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  text-align: end;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 10px;
}
#add-note-btn {
  display: inline-block;
  margin-top: 0;
  width: 100px;
  height: 30px;
  background-color: ivory;
  transition: background-color 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  cursor: pointer;
  &:hover {
    background-color: greenyellow;
  }
}
