<div class="root">
  <section class="section">
    <h1 class="title">Notes</h1>

    <button id="add-note-btn">Add Note</button>

    <!-- Notes -->
    <div class="notes-wrapper">
      <table id="notes-table">
        <thead class="notes-head">
          <tr>
            <th>Time of Creation</th>
            <th>Content</th>
            <th>Category</th>
            <th>Dates</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamic note-->
        </tbody>
      </table>
    </div>

    <h2 class="title-summary">Archived Notes</h2>
    <table id="archived-notes-table">
      <thead class="notes-head">
        <tr>
          <th>Time of Creation</th>
          <th>Content</th>
          <th>Category</th>
          <th>Dates</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Dynamic archive notes -->
      </tbody>
    </table>

    <!-- Summary -->
    <div class="summary">
      <h2 class="title-summary">Summary</h2>
      <table id="summary-table">
        <thead class="summary-head">
          <tr>
            <th>Category</th>
            <th>Active</th>
            <th>Archived</th>
          </tr>
        </thead>
        <tbody>
          <!-- Dynamic summary -->
        </tbody>
      </table>
    </div>
  </section>
</div>
