<div class="root">
  <section class="section">
    <h1 class="title">Notes</h1>

    <div class="notes-wrapper">
      <div class="notes-bar-thumb">
        <ul class="notes-bar">
          <li class="notes-bar-item">Name</li>
          <li class="notes-bar-item">Created</li>
          <li class="notes-bar-item">Category</li>
          <li class="notes-bar-item">Content</li>
          <li class="notes-bar-item">Date</li>
        </ul>
      </div>
      <ul class="notice">
       
      </ul>
    </div>


   

  </section>
</div>
